body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
}

input[type="text"],
select {
  width: 100%;
  padding: 5px;
  font-size: 16px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#bmi-result,
#bodyfat-result,
#idealweight-result,
#caloriesburned-result {
  margin-top: 10px;
  font-weight: bold;
}
